#books {
  float: left;
  border: 1px solid lightgray;
  width: 400px;
}

.book {
  padding: 10px;
  background-color: lightgray;
  . h1 {
    display: none;
  }
}

#content {
  margin-left: 400px;
  padding: 20px;
  border: 1px solid lightgray;
  display: none;
}
